* {
    font-size: 20px;
    outline: none;
    caret-color: orangered;
    color: #fff;
}

#editor { 
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: consolas !important;
    font-size: 20px;
}

::selection {
    background-color: orangered;
}

.ace_doc-tooltip {
    background: #000;
    font-family: consolas !important;
    color: #fff;
    font-size: 16px;
}

.command-popup {
    position: fixed;
    width: 700px;
    height: 400px;
    background: #222;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.2s transform;
    z-index: 5;
    margin-left: -350px;
    margin-top: -200px;
    user-select: none;
}

.command-popup-back {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000a1;
    display: none;
    z-index: 5;
}

.command-popup .keycaps-footer {
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0;
    height: 20px;
    padding-left: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.command-popup .keycaps-footer .keycap-group {
    display: inline-block;
}

.command-popup .keycaps-footer .keycap-group img {
    height: 20px;
}

.command-popup .keycaps-footer .keycap-group .keycap-caption {
    font-size: 20px;
    color: #fff;
}

.command-popup #command-input {
    width: 680px;
    box-sizing: border-box;
    height: 50px;
    font-size: 35px;
    font-family: consolas !important;
    background: #474747;
    left: 10px;
    top: 10px;
    border: none;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
}

.file-info {
    position: fixed;
    bottom: 8px;
    right: 10px;
    float: right;
    font-family: consolas;
}

.command-popup ul.command-list {
    position: absolute;
    top: 65px;
    font-family: consolas;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 10px;
    width: 680px;
}

.command-popup ul.command-list li {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 3px;
}

.command-popup ul.command-list li:hover {
    background: #2c2c2c;
}

.command-popup ul.command-list .selected {
    background: #2c2c2c;
}

.snackbar {
    position: fixed;
    bottom: -30px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    background: #333333;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
    transition: 0.3s;
}

.snackbar-show {
    bottom: 30px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

::-webkit-scrollbar-thumb:active {
    background: #303030;
}

::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 100px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Editor Context Menu */
.editor-context-menu {
    position: fixed;
    background: #111111ab;
    color: #fff;
    min-width: 300px;
    min-height: 100px;
    z-index: 20;
    display: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.15s opacity;
    opacity: 0;
    backdrop-filter: blur(8px);
}

.cmenu-options {
    list-style: none;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    background: transparent;
    user-select: none;
}

.cmenu-options li:not(.cmenu-seperator) {
    padding: 5px 0px 5px 5px;
    cursor: pointer;
    font-family: sans-serif;
    transition: 0.1s;
    color: white;
    box-sizing: border-box;
}

.cmenu-options li:hover:not(.cmenu-seperator) {
    background: #ffffff50;
}

.cmenu-options li .accelerator {
    float: right;
    color: #838383;
    font-family: "Consolas";
    margin-right: 5px;
}

.cmenu-seperator {
    padding: 0px;
    margin-top: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
    cursor: default;
}

.cmenu-seperator:hover {
    background: transparent;
}

/* Find Menu */
.ace_search_field {
    font-family: "Consolas";
}

.ace_gutter-cell .ace_error {
    background-image: url("../../media/img/ui/code-editor/err.png") !important;
}

.ace_gutter-cell .ace_warning {
    background-image: url("../../media/img/ui/code-editor/wrn.png") !important;
}