.header {
    background-color: #0f0f0f;
    position: absolute;
    top: 0;
    left: 0;
    height: 9%;
    width: 100%;
}
.sidepanel {
    background-color: #111111;
    position: absolute;
    top: 10%;
    height: 50%;
    width: 20%;
}
.viewport {
    background-color: #353535;
    position: absolute;
    top: 10%;
    width: 50%;
    height: 50%;
    left: 21%;
}
.inspector {
    background-color: #252525;
    position: absolute;
    top: 10%;
    width: 28%;
    height: 90%;
    left: 72%;
}
.file-ex {
    background-color: #161616;
    position: absolute;
    top: 61%;
    height: 39%;
    left: 0;
    width: 71%;
    overflow-y: hidden;
}

.grid-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.file-ex-item-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    background: transparent;
    overflow-y: scroll;
}

.file-ex-item {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.file-ex-item img {
    height: 85px;
    width: 85px;
    position: absolute;
    left: calc(50% - 42.5px);
    top: 5px;
}

.file-ex-item span {
    font-weight: 100;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

.file-ex-item .no-drag-overlay {
    height: 85px;
    width: 85px;
    position: absolute;
    left: calc(50% - 42.5px);
    top: 5px;
}

.file-ex-item:hover {
    background: #ffffff1f;
}

.file-ex-item:focus {
    background: orangered;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

::-webkit-scrollbar-thumb:active {
    background: #303030;
}

::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 100px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.viewport canvas {
    height: 100%;
    width: 100%;
}

.uri-bar-container {
    background: #fff;
    border-radius: 3px;
    width: 40%;
    color: #000;
    border: 1px solid #ececec;
    cursor: text;
    height: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
}

.uri-bar-container .pre {
    color: #000;
}

.uri-bar-container input {
    border: none;
    background: transparent;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 75%;
    color: #000;
}

.invalid-dir {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-ex .directory-up-btn {
    height: 23px;
    width: 23px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 41%;
    
    background-image: url("../../media/img/ui/editor/UpDir.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.file-ex .directory-up-btn:hover {
    background-color: #ff4500;
}

.file-ex .directory-reload-btn {
    height: 23px;
    width: 23px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 44%;
    
    background-image: url("../../media/img/ui/editor/reload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.file-ex .directory-reload-btn:hover {
    background-color: #ff4500;
}

/* Context Menu Code START */

.context-menu {
    position: fixed;
    min-width: 200px;
    background: #202020;
    padding: 10px;
    box-sizing: border-box;
}

.context-menu .context-menu-header {
    background: #b4b4b4;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.context-menu .option {
    height: 27px;
    margin: 0;
    padding: 5px;
    display: flex;
    cursor: pointer;
    font-size: 19px;
    color: #fff;


    justify-content: center;
}

.context-menu .option:hover {
    background: #ffffff50;
}

.context-menu .seperator {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
    width: 100%;
    height: 2px;
}

/* Context Menu Code END */

.terminal-container {
    height: 19%;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #160024;
    display: none;
}

.terminal-x-content-grabbar {
    bottom: 19%;
    height: 1%;
    background: #11001b;
    position: fixed;
    left: 0;
    width: 100%;
    cursor: ns-resize;
    display: none;
}

.terminal-iframe {
    height: 100%;
    width: 100%;
}

#terminal-resize-safety {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    display: none;
    cursor: ns-resize;
}