* {
    user-select: none;
    outline: none;
    caret-color: orangered;
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
}

::selection {
    background-color: orangered;
}

select {
    background: #000;
    color: #fff;
}

button {
    background: #000;
}